<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
<link rel="stylesheet" href="../../../assets/css/font-awesome.min.css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">


   
</head>
<body id="wrapper-login">


	<div class="col-md-4 wrapper-bg text-center ">
		<div class="wrapper-top">
		<img src="../../../assets/images/logo.png" class="img-responsive center-block" alt="">
		<h2>Welcome</h2>
		<p>Excilent way to connect with
people</p>
<a href="login" class="re-btn">LOG IN NOW</a>
</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-8 text-center wrapper-right ">
		
<div class="r-center">
	<h3>Sign up</h3>
	<br>
<form class="form" [formGroup]='signupForm'>
	<div class="input-group">
                        <span class="input-group-addon form-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="text" class="form-control " formControlName="user_name" name="user_name" placeholder="User Name">
                        <div *ngIf="signupForm.controls['user_name'].touched && !signupForm.controls['user_name'].valid">
                           <span class="help-block" style="color:red" *ngIf="signupForm.controls['user_name'].hasError('required')">
                             User name is required</span>
                         </div>
                   
                     </div>
                   
                     <div class="input-group ">
                        <span class="input-group-addon form-addon"><i class="zmdi zmdi-email-open zmdi-hc-fw"></i></span>
                        <input id="email" type="text" class="form-control " formControlName="user_email" name="user_email" placeholder="Email">
                        <div *ngIf="signupForm.controls['user_email'].touched && !signupForm.controls['user_email'].valid">
                           <span class="help-block" style="color:red" *ngIf="signupForm.controls['user_email'].hasError('required')">
                             Email is required</span>
                         </div>
                     </div>
                     <div class="input-group ">
                        <span class="input-group-addon form-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input id="password" type="password" class="form-control " formControlName="user_password" name="user_password" placeholder="Password">
                        <div *ngIf="signupForm.controls['user_password'].touched && !signupForm.controls['user_password'].valid">
                           <span class="help-block" style="color:red" *ngIf="signupForm.controls['user_password'].hasError('required')">
                             Password is required</span>
                         </div>
                    
                     </div>
                     
                     <!-- <div class="input-group ">
                        <span class="input-group-addon form-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input id="password" type="password" class="form-control " name="password" placeholder="Confirm password">

                     </div> -->

                   
                      

                      
                     <button type="button" class="btn-sign btn btn-primary" [disabled]="!signupForm.valid"
                     (click)='signup(signupForm.value)'>Sign Up</button>

                

  <p><small> It’s really simple and you can start enjoying all the benefits</small></p>
                  </form>
</div>

	</div>




<script type="text/javascript" src="../../../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>

<!-------------------navbar js start---------->

<!-------------------navbar js close------------------->
</body>
</html>